/* Reset browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: unset;
}

body {
    line-height: 1.6;
    background-color: #434343;
    color: #f0ffff;
}

/* Header and navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    list-style: none;
    font-size: 1.5rem; /* bigger text */
}

.navbar {
    background-color: #333; /* optional */
}

/* Hero section */
.hero {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 33%;
}

.contact {
    text-align: center;
    padding: 100px 20px;
    background-color: #e3f2fd;
}

.about {
    padding: 50px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

h2 {
  margin-bottom: 20px;
  color: #4da6ff;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

.skill-box {
  background: #1b1b1b;
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
}

.project {
  background: #1b1b1b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
}

.tag {
  background: #4da6ff;
  color: #000;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
